body {
      font-family: Arial;
      padding: 20px;
    }

    h1 {
      text-align: center;
    }

    .producto {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #ccc;
      padding: 10px;
    }

    button {
      cursor: pointer;
    }

    #total {
      font-size: 20px;
      margin-top: 20px;
      font-weight: bold;
    }

    .carrito-btn {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
}

.carrito-btn:hover {
  color: red;
}