/* reset */
* {
    margin: 0;
    padding: 0;
}

/* Fondo */
.fondo {
    height: 100vh; /* ocupa toda la pantalla */
    background-image: url("img/fondo.jpg"); /* imagen */
    background-size: cover; /* cubre la pantalla */
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* sobre-texto */
.contenido {
    color: white;
    background-color: rgba(0,0,0,0.6);
    padding: 20px;
    border-radius: 10px;
}

.contenido h1 {
    font-size: 4rem;
}

.contenido p {
    font-size: 2rem;
}

/* contenedor de los productos */
.productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 40px;
    background-color: black;
}

/* tarjeta del producto */
.producto {
    background-color: #111;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    color: white;
}

/* imagenes */
.producto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

/* nombres */
.producto h3 {
    margin-top: 10px;
    font-size: 2rem;
}

/* descripcion */
.descripcion {
    font-size: 1.5rem;
    color: #ccc;
    margin: 10px 0;
}

/* precios */
.precio {
    font-size: 1.8rem;
    color: #fff;
    font-weight: bold;
}

/* compra boton */
.btn-comprar {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    background-color: crimson;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn-comprar:hover {
    background-color: darkred;
}

/* footer */
footer {
    background-color: brown;
    color: white;
    text-align: center;
    padding: 20px;
}