* {
    padding: 0rem;
    margin: 0rem;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2.5rem;
    background-color: rgb(0, 0, 0);
}

#Menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

ul, ol {
    list-style: none;
}

.navegador-menu {
    display: flex;
    justify-content: flex-end;
    margin-right: 5rem;
}

.navegador-menu > li {
    position: relative;
}

.navegador-menu li a {
    display: block;
    padding: 0.8rem 2.4rem;
    background-color: black;
    color: blanchedalmond;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.navegador-menu li a:hover {
    background-color: #551818;
}

.navegador-menu li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
}

.navegador-menu li:hover > ul {
    display: block;
}

.navegador-menu li ul li {
    width: 150px;
}

.logo {
    background-color: black;
    padding-left: 2rem;
}

.logo-principal {
    width: 20rem;
    display: block;
}

/* formulario */
.formulario {
    background: linear-gradient(135deg, #000000, #ff0000);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 6rem;
    margin: 6rem auto;
    max-width: 400px;
    color: white;
}

.formulario h2 {
    font-size: 3rem;
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
}

.formulario label {
    display: block;
    margin-bottom: 5px;
    font-size: 2rem;
    color: #ffffff;
}

.formulario input,
.formulario textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(73, 71, 71);
    font-size: 14px;
}

.formulario input::placeholder,
.formulario textarea::placeholder {
    color: rgba(64, 62, 62, 0.6);
}

.formulario button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(135deg, #2f2b2b, #000000);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

.formulario button:hover {
    background: white;
    color: black;
}

.btn-comprar {
    display: block;
    width: 100%;
    padding: 10px;
    background: linear-gradient(135deg, #2f2b2b, #000000);
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 2rem;
    transition: background 0.3s ease;
}

.btn-comprar:hover {
    background: white;
    color: black;
}
/* footer */

footer {
    
    color: white;
    text-align: center;
    padding: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

footer .social-icons {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}


hr {
    width: 80%;
    margin: 5rem auto;
}

footer {
    padding: 20px;
    flex: 1;
    background-color: brown;
    text-align: center;
}