* {
    padding: 0rem;
    margin: 0rem;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2.5rem;
    background-color: rgb(0, 0, 0);
}

body {
    animation: aparecer 1s ease-in;
}

@keyframes aparecer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


#Menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 1000;
}

ul, ol {
    list-style: none;
}

.navegador-menu {
    display: flex;
    justify-content: flex-end;
    margin-right: 5rem;
}

.navegador-menu > li {
    position: relative;
}

.navegador-menu li a {
    display: block;
    padding: 0.8rem 2.4rem;
    background-color: black;
    color: blanchedalmond;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.navegador-menu li a:hover {
    background-color: #551818;
}

.navegador-menu li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
}

.navegador-menu li:hover > ul {
    display: block;
}

.navegador-menu li ul li {
    width: 150px;
}

.logo {
    background-color: black;
    padding-left: 2rem;
}

.logo-principal {
    width: 20rem;
    display: block;
}

/* logo fondo */

.hero {
    height: 90vh; /*ocupa casi toda la pantalla*/
    background-image: url(https://th.bing.com/th/id/OIP.dTDycSvqElZ5h9HxrgJAMgHaE8?w=270&h=180&c=7&r=0&o=7&dpr=1.3&pid=1.7&rm=3); /* tu imagen */;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-text {
    color: white;
    background-color: rgba(105, 95, 95, 0.23);
    padding: 20px;
    border-radius: 10px
}

.hero-text h1 {
    font-size: 4rem;
}

.hero-text p {
    font-size: 2rem;
}

.btn-hero {
    display: inline-block;
    margin-top: 20px;
    padding: 1.2rem 3rem;
    background-color: #551818;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 1.8rem;
    transition: all 0.3s ease;
}

.btn-hero:hover {
    background-color: #8a2b2b;
    transform: scale(1.05);
}

#contacto {
    background-image: url("img/contacto.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #f5f5f5;
    text-align: center;
    padding: 60px 20px;
    position: relative;
}

#contacto::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

#contacto * {
    position: relative;
    z-index: 1;
}

.titulo-contacto {
    display: inline-block;
    background-color: #551818;
    padding: 1rem 3rem;
    border-radius: 10px;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.titulo-contacto:hover {
    transform: scale(1.05);
}

.redes {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.redes a {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* BOTÓN WHATSAPP */
.btn-wsp {
    background-color: #25D366;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.8rem;
}

.btn-wsp:hover {
    background-color: #1ebe5d;
}

/* BOTÓN INSTAGRAM */
.btn-ig {
    background-color: #E1306C;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.8rem;
}

.btn-ig:hover {
    background-color: #c72b5c;
}

/* DESTACADOS */
.destacados {
    padding: 5rem 2rem;
    text-align: center;
    color: white;
}

.destacados h2 {
    font-size: 3.5rem;
    margin-bottom: 3rem;
}

/* PRODUCTOS */
.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto 3rem auto;
}

/* TARJETAS DE PRODUCTO */
.producto {
    background-color: #1a1a1a;
    padding: 2rem;
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.producto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.producto h3 {
    margin: 1rem 0;
    font-size: 2rem;
}

.producto p {
    font-size: 1.6rem;
    color: #ccc;
}

/* compra boton */
.btn-comprar {
    display: inline-block;
    margin-top: 10px;
    padding: 12px 20px;
    background: linear-gradient(90deg, crimson, darkred);
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: all 0.3s ease;
}

/* HOVER */
.producto:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.4);
}

.btn-comprar:hover {
    background: linear-gradient(90deg, darkred, black);
    transform: translateY(-3px);
}
/* btn-ver más */
.btn-ver-mas {
    display: inline-block;
    background-color: #551818;
    color: white;
    padding: 1.2rem 3rem;
    text-decoration: none;
    border-radius: 10px;
    font-size: 1.8rem;
    transition: background 0.3s ease;
}

.btn-ver-mas:hover {
    background-color: #8a2b2b;
}

/* footer */

footer {
    
    color: white;
    text-align: center;
    padding: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

footer .social-icons {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}


hr {
    width: 80%;
    margin: 5rem auto;
}

footer {
    padding: 20px;
    flex: 1;
    background-color: brown;
    text-align: center;
}